.bg-image-vertical {
 
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

    table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

  /* Custom styles for the table */
  #dtBasicExample {
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
  }

  #dtBasicExample th,
  #dtBasicExample td {
    text-align: center;
  }

  #dtBasicExample th {
    background-color: #3498db;
    color: white;
  }

  #dtBasicExample tbody tr:hover {
    background-color: #d21414;
  }

  .form-select {
    width: 100%;
  }


/* .dtBasicExample
{
  margin-left: 2250px;
} */

/* .__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after {
  visibility: hidden !important;
} */

/* .dataTables_paginate paging_simple_numbers
{
  visibility: hidden !important;
} */


/* .wrapper {
  margin-top: 5vh;
}

.dataTables_filter {
  float: right;
}

.table-hover > tbody > tr:hover {
  background-color: #ccffff;
}

@media only screen and (min-width: 768px) {
  .table {
    table-layout: fixed;
    max-width: 100% !important;
  }
}

thead {
  background: #ddd;
}

.table td:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight {
  background: #ffff99;
}

@media only screen and (max-width: 767px) {
  /* Force table to not be like tables anymore */
  /* table,
thead,
tbody,
th,
td,
tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  /* thead tr,
tfoot tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave  like a "row" */
    /* border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  } */

  /* td:before {
    /* Now like a table header */
    /* position: absolute; */
    /* Top/left values mimic padding */
    /* top: 6px;
    left: 6px;
    width: 45%; */
    /* padding-right: 10px;
    white-space: nowrap;
  }   */
/* 
  .table td:nth-child(1) {
    background: #ccc;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: bold;
  }  */

