

<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="px-5 ms-xl-4">
            <i  style="color: #709085; margin-right: -20px;"></i>
            <img src="assets/Images/3.png" alt="Logo">
  
            <!-- <span class="h1 fw-bold mb-0">Logo</span> -->
          </div>
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
            <form style="width: 23rem; margin-left:180px;">
        
                <h3 style="letter-spacing: 1px; color: blue; margin-left: 120px; margin-top: -300px; margin-bottom: 90px;"> Registration Page</h3>
        
                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label" for="form2Example18">User Name:</label>
                    </div>
                    <div class="col">
                        <input type="text"  class="form-control form-control-ms" style="border-color: blue; width: 250px;" />
                    </div>
                </div>
        
                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label" for="form2Example28">Password:</label>
                    </div>
                    <div class="col">
                        <input type="password" id="form2Example28" class="form-control form-control-ms" style="border-color: blue; width: 250px;" />
                    </div>
                </div>
        
                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label" for="form2Example28">Confirm Password:</label>
                    </div>
                    <div class="col">
                        <input type="password" id="form2Example28" class="form-control form-control-ms" style="border-color: blue; width: 250px;" />
                    </div>
                </div>
        
                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label" for="form2Example28">Email:</label>
                    </div>
                    <div class="col">
                        <input type="text" id="form2Example28" class="form-control form-control-ms" style="border-color: blue; width: 250px;" />
                    </div>
                </div>
        
                <div class="pt-1 mb-4">
                  <button class="btn btn-primary btn-lg btn-block" type="button" routerLink="../OTP" style="border-radius: 1rem; margin-left: 148px; width: 200px; margin-top: 30px;">Registration</button>
  
                </div>
        
        
            </form>
        </div>
  
        </div> 
        <div class="col-sm-6 px-0 d-none d-lg-block">
          <img src="assets/Images/PIC1.png" 
            alt="Login image"  style="margin-left: 200px; height: 660px; margin-top: 40px;"   >
        </div>
      </div>
    </div>
  </section>
  
  
  
<router-outlet></router-outlet>

