.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
   
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }
    .blue-light-text {
        color: #5b9bd5;
        font-family: 'Arial', 'Times New Roman', Times, serif;
   
    }
 
    .custom-btn {
        background-color: #396d9d;
        color: #fff;
        padding: 8px 55px;
        font-size: 1.25rem;
        border: 20px;
       
      }